{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mt-4">Add Client</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group mt-4">
          <label for="id_first_name">First Name:</label>
          <input type="text" id="id_first_name" name="first_name" class="form-control" value="{{ client.first_name.value }}">
        </div>
        <div class="form-group mt-4">
          <label for="id_last_name">Last Name:</label>
          <input type="text" id="id_last_name" name="last_name" class="form-control" value="{{ client.last_name.value }}">
        </div>
        <div class="form-group mt-4">
          <label for="id_birthday">Birthday:</label>
          <input type="date" id="id_birthday" name="birthdate" class="form-control" value="{{ client.birthday.value }}">
        </div>
        <div class="form-group mt-4">
          <label for="id_address">Address:</label>
          <input type="text" id="id_address" name="address" class="form-control" value="{{ client.address.value }}">
        </div>
        <div class="form-group mt-4">
          <label for="id_email">Email:</label>
          <input type="email" id="id_email" name="email" class="form-control" value="{{ client.email.value }}">
        </div>
        <div class="form-group mt-4">
          <label for="id_password">Password:</label>
          <input type="password" id="id_password" name="password" class="form-control" value="{{ client.password.value }}">
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary">Add Client</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
